body{
    margin: 0;
}


html{
    scroll-behavior: smooth;
}


h1{
    font-family: 'Times New Roman', Times, serif;
}


p{
    font-family:Verdana, Tahoma, sans-serif
}


a{
    font-family:Verdana, Tahoma, sans-serif
}


nav{
    background-color:rgb(48, 102, 190);
    color: #ffffff;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}


nav .logo-head img{
    width: 200px;
}


nav .menu ul{
    list-style: none; 
    display:flex;
}


nav .menu ul li{
    margin-right:50px;
}


.menu a{
    color: #ffffff;
    text-decoration: none;
}


.cont-titulo{
    background-image: url(cielo.jpg);
    color: #ffffff;
    width: 1600px;
    height: 700px;
    display:flow-root;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.cont-titulo h1{
    margin-bottom: 0px;
    font-size:180px;
}


.cont-titulo p{
    font-size: 25px;
}


.sub{
    background-color: rgb(17, 157, 164);
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align: justify;
    height: 710px;
}


.sub img{
    width: 400px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: #000000 4px solid;
}


.sub-text{
    margin-right: 100px;
    margin-left: 100px;
    color: #ffffff;
}


.sub-text h1{
    font-size: 45px;
}


.sub-text a{
    font-size: 15px;
}


.proye-nuevo{
    background-color: rgb(109, 157, 197);
    color: #ffffff;
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 200px;
}


.proye-nuevo img{
    width: 400px;
    border-radius: 20px;
    margin: 20px;
}


.proye-img{
    background-color: rgb(46, 48, 145);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    margin-left: 100px;
    margin-right: 100px;
    display:inline-block;
    justify-content:center;
    align-items:center;
    border-radius: 20px;
    text-align: center;
    border: #000000 4px solid;
}


.proye-img p{
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}


.proye-nuevo h1{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
}


.proye-text{
  margin-left: 100px; 
  margin-right: 50px; 
}



.rejilla{
    background-color: rgb(174, 236, 239);
    display:flex;
    align-items:center;
    justify-content: center; 
    margin:0px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.rejilla img{
    width: 250px;
    border-radius: 20px;
    border: #000000 4px solid;
}


.cuadro{
    background-color: #ffffff;
    border: #000000 5px solid;
    text-align: center;
    margin: 10px 20px;
    border-radius: 15px;
    padding: 10px 0px;
    width: 20%;
}


.rejilla h1{
    font-size: 21px;
    color: #000000;
    margin: 10px 0px;
    text-align: center;
}


.rejilla p{
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px 28px;
}


.rejilla a{
    text-decoration: none;
    color: #ffffff;
}


.rejilla button{
    color: #ffffff;
    background: #000000;
    border:none;
    border-radius: 10px;
    font-size: 14px;
    width: 200px; 
    height: 30px;
    margin-top: 14px;
}


.contactame{
    background-color:#80ded9;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display:block; 
    height: 710px;
}

.contactame img{
    width: 300px;
    border: #000000 4px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}


.contactame h1{
font-size: 50px;
margin-bottom: 5px;
}


.fotoredes img{
    width: 60px;
    border: 0px;
}


.abajo{
    background-color:rgb(48, 102, 190);
    color: #ffffff;
    height: 120px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-bottom: 20px;
}


.abajo h1{
    font-size: 30px;
    margin-left: 300px;
    margin-top: 50px;
}

.abajo img{
    width: 200px;
    margin-right: 300px;
    margin-left: 100px;
    margin-top: 20px;
}


.conoce{
    background-image: url(proyec.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    display:flow-root;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-size: 40px;
}


.explica{
    background-color: rgb(17, 157, 164);
    display:flex;
    justify-content:space-between;
    align-items: center;
    text-align: justify;
}


.explica img{
    width: 400px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: #000000 4px solid;
}


.explica-text{
    margin-right: 100px;
    margin-left: 100px;
    color: #ffffff;
}


.explica-text h1{
    font-size: 45px;
}


.explica1-text a{
    font-size: 25px;
}